<!-- 载入静态文件 -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <title>{% block title %}学生管理{% endblock title %}</title>  
    <link rel="stylesheet" href="{% static 'mdui/css/mdui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88818678-1"></script>
</head> 

<body class="mdui-drawer-body-left mdui-appbar-with-toolbar  mdui-theme-primary-teal mdui-theme-accent-pink">
    <!-- 引入导航栏 -->
    {% include 'header.html' %}
    <!-- 预留具体页面的位置 -->
        <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
        <script src="{% static 'mdui/js/mdui.min.js' %}"></script>
        <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'popper/popper-1.15.0.js' %}"></script>    
        <!-- 引入bootstrap的js文件 -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'layer/layer.js' %}"></script>
    
    {% block content %}
    {% endblock content %}

</body>

</html>